/* src/Slider.css */

.slider-container {
    
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    position: relative;
    overflow: hidden;
  }
  
  .slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the entire slider */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Start with all images hidden */
    transition: opacity 0.5s ease; /* Fade transition effect */
  }
  
  /* Show active slide */
  .slider-container img.slide-active {
    opacity: 1;
  }
  